<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="Content-Type" content="text/html" charset="ISO-8859-1">
		<title> Sala de controles </title>
		<!-- Style sheet for responsive design -->
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

		<link rel="stylesheet" href="static/dev/css/jquery-ui.css">
		<script src="static/dev/css/jquery-3.3.1.min.js"></script>
		<script src="static/dev/css/jquery-ui.js"></script>

		
		
		<script>

		</script>
    <style>

		.column {
		float: left;
		width: auto;
		margin: 5px;
		}
	
		.row:after {
		content: "";
		display: table;
		
		}
		</style>		
	</head>
	<body>
		<div class="w3-container">
			<div class="w3-container w3-center w3-teal">
				<h2><strong>Sala de controle</strong></h2>
			</div>
			<div class="w3-row">
				<div class="w3-quarter">
				
				</div>
				<div class="w3-quarter">
				
				</div>
				<div class="w3-quarter">
				
				</div>
				<div class="w3-quarter">
				
				</div>
			</div>
			<div class="w3-row">
				
			</div>
			<p id="entry"></p>
		</div>

		<div class="row">
			<div class="column">
				<h2>LEDp's</h2>

				<ul>
					<li><label class="switch">
						<input type="checkbox" onclick="sendData()"  id="L0">
						<span class="slider_switch"></span>
					</label></li>
					<li><label class="switch">
						<input type="checkbox" onclick="sendData()"  id="L1">
						<span class="slider_switch"></span>
					</label></li>
					<li><label class="switch">
						<input type="checkbox" onclick="sendData()"  id="L2">
						<span class="slider_switch"></span>
					</label></li>
					<li><label class="switch">
						<input type="checkbox" onclick="sendData()"  id="L3">
						<span class="slider_switch"></span>
					</label></li>
					<li><label class="switch">
						<input type="checkbox" onclick="sendData()"  id="L4">
						<span class="slider_switch"></span>
					</label></li>
					<li><label class="switch">
						<input type="checkbox" onclick="sendData()"  id="L5">
						<span class="slider_switch"></span>
					</label></li>
					<li><label class="switch">
						<input type="checkbox" onclick="sendData()"  id="L6">
						<span class="slider_switch"></span>
					</label></li>
					<li><label class="switch">
						<input type="checkbox" onclick="sendData()"  id="L7">
						<span class="slider_switch"></span>
					</label></li>
					<li><label class="switch">
						<input type="checkbox" onclick="sendData()"  id="L8">
						<span class="slider_switch"></span>
					</label></li>				
					<li><label class="switch">
						<input type="checkbox" onclick="sendData()"  id="L9">
						<span class="slider_switch"></span>
					</label></li>				
					<li><label class="switch">
						<input type="checkbox" onclick="sendData()"  id="L10">
						<span class="slider_switch"></span>
					</label></li>				
					<li><label class="switch">
						<input type="checkbox" onclick="sendData()"  id="L11">
						<span class="slider_switch"></span>
					</label></li>				
				</ul>
			</div>
			<div class="column">
				<h2>Switches</h2>
				<ul>
					<li><label class="switch">
						<input type="checkbox" onclick="sendData()"  id="K0">
						<span class="slider_switch round"></span>
					</label></li>
					<li><label class="switch">
						<input type="checkbox" onclick="sendData()"  id="K1">
						<span class="slider_switch round"></span>
					</label></li>
					<li><label class="switch">
						<input type="checkbox" onclick="sendData()"  id="K2">
						<span class="slider_switch round"></span>
					</label></li>
					<li><label class="switch">
						<input type="checkbox" onclick="sendData()"  id="K3">
						<span class="slider_switch round"></span>
					</label></li>
					<li><label class="switch">
						<input type="checkbox" onclick="sendData()"  id="K4">
						<span class="slider_switch round"></span>
					</label></li>
					<li><label class="switch">
						<input type="checkbox" onclick="sendData()"  id="K5">
						<span class="slider_switch round"></span>
					</label></li>
					<li><label class="switch">
						<input type="checkbox" onclick="sendData()"  id="K6">
						<span class="slider_switch round"></span>
					</label></li>
					<li><label class="switch">
						<input type="checkbox" onclick="sendData()"  id="K7">
						<span class="slider_switch round"></span>
					</label></li>
					<li><label class="switch">
						<input type="checkbox" onclick="sendData()"  id="K8">
						<span class="slider_switch round"></span>
					</label></li>
					<li><label class="switch">
						<input type="checkbox" onclick="sendData()"  id="K9">
						<span class="slider_switch round"></span>
					</label></li>
					<li><label class="switch">
						<input type="checkbox" onclick="sendData()"  id="K10">
						<span class="slider_switch round"></span>
					</label></li>
					<li><label class="switch">
						<input type="checkbox" onclick="sendData()"  id="K11">
						<span class="slider_switch round"></span>
					</label></li>				

				</ul>			
			</div>
			<div class="column">
				<h2>Luzes</h2>
				<ul>
					<li><label class="switch">
						<input type="checkbox" onclick="sendData()"  id="D0">
						<span class="slider_switch round"></span>
					</label></li>
					<li><label class="switch">
						<input type="checkbox" onclick="sendData()"  id="D1">
						<span class="slider_switch round"></span>
					</label></li>
					<li><label class="switch">
						<input type="checkbox" onclick="sendData()"  id="D2">
						<span class="slider_switch round"></span>
					</label></li>
					<li><label class="switch">
						<input type="checkbox" onclick="sendData()"  id="D3">
						<span class="slider_switch round"></span>
					</label></li>
					<li><label class="switch">
						<input type="checkbox" onclick="sendData()"  id="D4">
						<span class="slider_switch round"></span>
					</label></li>
					<li><label class="switch">
						<input type="checkbox" onclick="sendData()"  id="D5">
						<span class="slider_switch round"></span>
					</label></li>
					<li><label class="switch">
						<input type="checkbox" onclick="sendData()"  id="D6">
						<span class="slider_switch round"></span>
					</label></li>
					<li><label class="switch">
						<input type="checkbox" onclick="sendData()"  id="D7">
						<span class="slider_switch round"></span>
					</label></li>

				</ul>
			</div>
			<div class="column">
				<h2>LED 0</h2>

				<ul>
					<li><label class="slider">Vermelho
						<input type="range" min="0" max="255" value="127" class="slider" id="L0R">
						<span><label id="l0rv"></label></span><span class="slider"></span>
					</label></li>
					<li><label class="slider">Verde
						<input type="range" min="0" max="255" value="127" class="slider" id="L0G">
						<span><label id="l0gv"></label></span><span class="slider"></span>
					</label></li>
					<li><label class="slider">Azul
						<input type="range" min="0" max="255" value="127" class="slider" id="L0B">
						<span><label id="l0bv"></label></span><span class="slider"></span>
					</label></li>
				</ul>
				<h2>LED 1</h2>
				<lu>
					<li><label class="slider">Vermelho
						<input type="range" min="0" max="255" value="127" class="slider" id="L1R">
						<span><label id="l1rv"></label></span><span class="slider"></span>
					</label></li>
					<li><label class="slider">Verde
						<input type="range" min="0" max="255" value="127" class="slider" id="L1G">
						<span><label id="l1gv"></label></span><span class="slider"></span>
					</label></li>
					<li><label class="slider">Azul
						<input type="range" min="0" max="255" value="127" class="slider" id="L1B">
						<span><label id="l1bv"></label></span><span class="slider"></span>
					</label></li>
				</lu>
				<h2>LED</h2>
				<lu>
					<li><label class="slider">Led roxo 0
						<input type="range" min="0" max="255" value="127" class="slider" id="L0P">
						<span><label id="lm6"></label></span><span class="slider"></span>
					</label></li>
					<li><label class="slider">Led roxo 1
						<input type="range" min="0" max="255" value="127" class="slider" id="L1P">
						<span><label id="lm7"></label></span><span class="slider"></span>
					</label></li>


		
				</ul>
			</div>				
			<div class="column">
				<h2>Mostradores</h2>
				<ul>
					<li><label class="slider">M0
						<input type="range" min="200" max="15624" value="200" class="slider" id="m0">
						<span><label id="lm0"></label></span><span class="slider"></span>
					</label></li>
					<li><label class="slider">M1
						<input type="range" min="200" max="15624" value="200" class="slider" id="m1">
						<span><label id="lm1"></label></span><span class="slider"></span>
					</label></li>
					<li><label class="slider">M2
						<input type="range" min="200" max="15624" value="200" class="slider" id="m2">
						<span><label id="lm2"></label></span><span class="slider"></span>
					</label></li>
					<li><label class="slider">M3
						<input type="range" min="200" max="15624" value="200" class="slider" id="m3">
						<span><label id="lm3"></label></span><span class="slider"></span>
					</label></li>
					<li><label class="slider">M4
						<input type="range" min="200" max="15624" value="200" class="slider" id="m4">
						<span><label id="lm4"></label></span><span class="slider"></span>
					</label></li>
					<li><label class="slider">M5
						<input type="range" min="200" max="15624" value="200" class="slider" id="m5">
						<span><label id="lm5"></label></span><span class="slider"></span>
					</label></li>
					<li><label class="slider">M6
						<input type="range" min="200" max="15624" value="200" class="slider" id="m6">
						<span><label id="lm6"></label></span><span class="slider"></span>
					</label></li>
					<li><label class="slider">M7
						<input type="range" min="200" max="15624" value="200" class="slider" id="m7">
						<span><label id="lm7"></label></span><span class="slider"></span>
					</label></li>
					<li><label class="slider">M8
						<input type="range" min="200" max="15624" value="200" class="slider" id="m8">
						<span><label id="lm8"></label></span><span class="slider"></span>
					</label></li>

					<li><label class="slider">M9
						<input type="range" min="200" max="15624" value="200" class="slider" id="m9">
						
						<span><label id="lm9"></label></span><span class="slider"></span>
					</label>	</li>			
				</ul>
			</div>
			<div class="column">
				<h2>Animação</h2>
				<ul>
					<li>
						<button type="button" onclick="animation(0)" id="anim_0" class="button">Animação 0</button>
					</li>
					<li>
						<button type="button" onclick="animation(1)" id="anim_1" class="button">Animação 1</button>
					</li>
					<li>
						<button type="button" onclick="animation(2)" id="anim_2" class="button">Animação 2</button>
					</li>
					<li>
						<button type="button" onclick="animation(3)" id="anim_3" class="button">Animação 3</button>
					</li>
					<li>
						<button type="button" onclick="animation(4)" id="anim_4" class="button">Animação 4</button>
					</li>
					<li>
						<button type="button" onclick="animation(5)" id="anim_5" class="button">Animação 5</button>
					</li>
					<li>
						<button type="button" onclick="animation(6)" id="anim_6" class="button">Animação 6</button>
					</li>
					<li>
						<button type="button" onclick="animation(7)" id="anim_7" class="button">Animação 7</button>
					</li>
					<li>
						<button type="button" onclick="animation(8)" id="anim_8" class="button">Animação 8</button>
					</li>
					<li>
						<button type="button" onclick="animation(9)" id="anim_9" class="button">Animação 9</button>
					</li>																																										
					<li>
						<button type="button" onclick="animation(10)" id="anim_10" class="button">Animação 10</button>
					</li>					
				</ul>
			</div>			
		</div>


		  <Script>

			var slider0 = document.getElementById("m0");
			var output0 = document.getElementById("lm0");
			output0.innerHTML = slider0.value;

			slider0.oninput = function() {
			output0.innerHTML = this.value;
			sendData();
			};

			var slider1 = document.getElementById("m1");
			var output1 = document.getElementById("lm1");
			output1.innerHTML = slider1.value;

			slider1.oninput = function() {
			output1.innerHTML = this.value;
			sendData();
			};
			var slider2 = document.getElementById("m2");
			var output2 = document.getElementById("lm2");
			output2.innerHTML = slider2.value;

			slider2.oninput = function() {
			output2.innerHTML = this.value;
			sendData();
			};
			var slider3 = document.getElementById("m3");
			var output3 = document.getElementById("lm3");
			output3.innerHTML = slider3.value;

			slider3.oninput = function() {
			output3.innerHTML = this.value;
			sendData();
			};
			var slider4 = document.getElementById("m4");
			var output4 = document.getElementById("lm4");
			output4.innerHTML = slider4.value;

			slider4.oninput = function() {
			output4.innerHTML = this.value;
			sendData();
			};
			var slider5 = document.getElementById("m5");
			var output5 = document.getElementById("lm5");
			output5.innerHTML = slider5.value;

			slider5.oninput = function() {
			output5.innerHTML = this.value;
			sendData();
			};
			var slider6 = document.getElementById("m6");
			var output6 = document.getElementById("lm6");
			output6.innerHTML = slider6.value;

			slider6.oninput = function() {
			output6.innerHTML = this.value;
			sendData();
			};
			var slider7 = document.getElementById("m7");
			var output7 = document.getElementById("lm7");
			output7.innerHTML = slider7.value;

			slider7.oninput = function() {
			output7.innerHTML = this.value;
			sendData();
			};
			var slider8 = document.getElementById("m8");
			var output8 = document.getElementById("lm8");
			output8.innerHTML = slider8.value;

			slider8.oninput = function() {
			output8.innerHTML = this.value;
			sendData();
			};
			var slider9 = document.getElementById("m9");
			var output9 = document.getElementById("lm9");
			output9.innerHTML = slider9.value;

			slider9.oninput = function() {
			output9.innerHTML = this.value;
			sendData();
			};

			var slider10 = document.getElementById("L0R");
			var output10 = document.getElementById("lL0R");
			output10.innerHTML = slider10.value;

			slider10.oninput = function() {
			output10.innerHTML = this.value;
			sendData();
			};			
			var slider11 = document.getElementById("L0G");
			var output11 = document.getElementById("lL0G");
			output11.innerHTML = slider11.value;

			slider11.oninput = function() {
			output11.innerHTML = this.value;
			sendData();
			};
			var slider12 = document.getElementById("L0B");
			var output12 = document.getElementById("lL0B");
			output12.innerHTML = slider12.value;

			slider12.oninput = function() {
			output12.innerHTML = this.value;
			sendData();
			};					


			var slider11 = document.getElementById("L1R");
			var output11 = document.getElementById("lL1R");
			output11.innerHTML = slider10.value;

			slider11.oninput = function() {
			output11.innerHTML = this.value;
			sendData();
			};			
			var slider12 = document.getElementById("L1G");
			var output12 = document.getElementById("lL1G");
			output12.innerHTML = slider11.value;

			slider12.oninput = function() {
			output12.innerHTML = this.value;
			sendData();
			};
			var slider13 = document.getElementById("L1B");
			var output13 = document.getElementById("lL1B");
			output13.innerHTML = slider12.value;

			slider13.oninput = function() {
			output13.innerHTML = this.value;
			sendData();
			};			

			var slider14 = document.getElementById("L2R");
			var output14 = document.getElementById("lL2R");
			output14.innerHTML = slider10.value;

			slider14.oninput = function() {
			output14.innerHTML = this.value;
			sendData();
			};			
			var slider15 = document.getElementById("L2G");
			var output15 = document.getElementById("lL2G");
			output15.innerHTML = slider11.value;

			slider15.oninput = function() {
			output15.innerHTML = this.value;
			sendData();
			};
			var slider16 = document.getElementById("L2B");
			var output16 = document.getElementById("lL2B");
			output16.innerHTML = slider12.value;

			slider16.oninput = function() {
			output16.innerHTML = this.value;
			sendData();
			};	

			var slider17 = document.getElementById("L0P");
			var output17 = document.getElementById("L0P");
			output17.innerHTML = slider10.value;

			slider17.oninput = function() {
			output17.innerHTML = this.value;
			sendData();
			};			
			var slider18 = document.getElementById("L1P");
			var output18 = document.getElementById("L1P");
			output18.innerHTML = slider11.value;

			slider18.oninput = function() {
			output18.innerHTML = this.value;
			sendData();
			};
			
			function animation(selected_animation){ 

					var logging = m0.value;
					console.log(logging);				

					msg = {"animation":selected_animation};
					fetch('http://' + document.domain + ':' + location.port + '/animation', {
							method: 'POST',
							headers: {
								'Accept': 'application/json',
								'Content-Type': 'application/json'
							},
							body: JSON.stringify(msg)
						})
						.then(response => response.json())
						.then(response => console.log(JSON.stringify(response)));

					};


			function sendData(){ 

					m0.value =document.getElementById("m0").value; 
					m1.value =document.getElementById("m1").value; 
					m2.value =document.getElementById("m2").value; 
					m3.value =document.getElementById("m3").value; 
					m4.value =document.getElementById("m4").value; 
					m5.value =document.getElementById("m5").value; 
					m6.value =document.getElementById("m6").value; 
					m7.value =document.getElementById("m7").value; 
					m8.value =document.getElementById("m8").value; 
					m9.value =document.getElementById("m9").value; 

					led_0_r = document.getElementById("L0R").value; 
					led_0_g = document.getElementById("L0G").value; 
					led_0_b = document.getElementById("L0B").value; 
					led_1_r = document.getElementById("L1R").value; 
					led_1_g = document.getElementById("L1G").value; 
					led_1_b = document.getElementById("L1B").value; 
					led_0 = document.getElementById("L0P").value; 
					led_1 = document.getElementById("L1P").value; 

					L0.value =document.getElementById("L0").checked; 
					L1.value =document.getElementById("L1").checked; 
					L2.value =document.getElementById("L2").checked; 
					L3.value =document.getElementById("L3").checked; 
					L4.value =document.getElementById("L4").checked; 
					L5.value =document.getElementById("L5").checked; 
					L6.value =document.getElementById("L6").checked; 
					L7.value =document.getElementById("L7").checked; 
					L8.value =document.getElementById("L8").checked; 
					L9.value =document.getElementById("L9").checked; 
					L10.value =document.getElementById("L10").checked; 
					L11.value =document.getElementById("L11").checked; 

										

					K0.value =document.getElementById("K0").checked; 
					K1.value =document.getElementById("K1").checked; 
					K2.value =document.getElementById("K2").checked; 
					K3.value =document.getElementById("K3").checked; 
					K4.value =document.getElementById("K4").checked; 
					K5.value =document.getElementById("K5").checked; 
					K6.value =document.getElementById("K6").checked; 
					K7.value =document.getElementById("K7").checked; 
					K8.value =document.getElementById("K8").checked; 
					K9.value =document.getElementById("K9").checked; 
					K10.value =document.getElementById("K10").checked; 
					K11.value =document.getElementById("K11").checked; 					

					D0.value =document.getElementById("D0").checked; 
					D1.value =document.getElementById("D1").checked; 
					D2.value =document.getElementById("D2").checked; 
					D3.value =document.getElementById("D3").checked; 
					D4.value =document.getElementById("D4").checked; 
					D5.value =document.getElementById("D5").checked; 
					D6.value =document.getElementById("D6").checked; 
					D7.value =document.getElementById("D7").checked; 


					var logging = m0.value;
					console.log(logging);				

					msg = {
					"motors":[m0.value,
					m1.value,
					m2.value,
					m3.value,
					m4.value,
					m5.value,
					m6.value,
					m7.value,
					m8.value,
					m9.value],
					"KEYS":[K0.value,
					K1.value,
					K2.value,
					K3.value,
					K4.value,
					K5.value,
					K6.value,
					K7.value,
					K8.value,
					K9.value,
					K10.value,
					K11.value],					
					"LED":[L0.value,
					L1.value,
					L2.value,
					L3.value,
					L4.value,
					L5.value,
					L6.value,
					L7.value,
					L8.value,
					L9.value,
					L10.value,
					L11.value],
					"DIGITAL":[D0.value,
					D1.value,
					D2.value,
					D3.value,
					D4.value,
					D5.value,
					D6.value,
					D7.value],
					"cLED":[
					led_0_r.value,
					led_0_g.value,
					led_0_b.value,
					led_1_r.value,
					led_1_g.value,
					led_1_b.value,
					led_0.value,
					led_1.value
					]
					};
					fetch('http://' + document.domain + ':' + location.port + '/message', {
							method: 'POST',
							headers: {
								'Accept': 'application/json',
								'Content-Type': 'application/json'
							},
							body: JSON.stringify(msg)
						})
						.then(response => response.json())
						.then(response => console.log(JSON.stringify(response)));

					};


			
		</script>


<style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider_switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider_switch:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider_switch {
  background-color: #2196F3;
}

input:focus + .slider_switch {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider_switch:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded slider_switchs */
.slider_switch.round {
  border-radius: 34px;
}

.slider_switch.round:before {
  border-radius: 50%;
}
</style>
</head>


   </body>
</html>
