<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="Content-Type" content="text/html" charset="ISO-8859-1">
		<title> LTE On the Moon: Command and Control </title>
		<!-- Style sheet for responsive design -->
		<link rel="stylesheet" href="static/cdnjs/w3.css">
		
		<link rel="stylesheet" href="static/dev/css/jquery-ui.css">
		<script src="static/dev/css/jquery-3.3.1.min.js"></script>
		<script src="static/dev/css/jquery-ui.js"></script>
		
		<script type="text/javascript" src="static/cdnjs/socket.io.min.js"></script>

	</head>
	<body>
		<div class="w3-container">
			<div class="w3-container w3-center w3-teal">
				<h2><strong>Controle do robo de presença virtual</strong></h2>
			</div>
			<div class="w3-row">
				<div class="w3-quarter">
				
				</div>
				<div class="w3-quarter">
				
				</div>
				<div class="w3-quarter">
				
				</div>
				<div class="w3-quarter">
				
				</div>
			</div>
			<div class="w3-row">
				
			</div>
			<p id="entry"></p>
		</div>
		<div class="w3-container w3-row">
			<div class="w3-third">
				Stick X:   <input id="X" type="text" /></br>
				Stick Y:   <input id="Y" type="text" /></br>
				CMD:  	 <input id="CMD" type="text" />
			</div>

		</div>
		<div id="header">           
			
			
			<button id="btnbatt" onmousedown="btnturnoff()">Sinal de Desligar</button>
			<button id="btnbatt" onmousedown="btnbat()">Sinal de bateria</button>
			
		</div>
		<div id="header">           
			<button id="btnfrontleft" onmousedown="btnfrontleftdown()" onmouseup="btnfrontleftup()"><span>FrontLeft</span></button>          
			<button id="btnfront" onmousedown="btnfrontdown()" onmouseup="btnfrontup()">Front</button>
			<button id="btnfrontright" onmousedown="btnfrontrightdown()" onmouseup="btnfrontrightup()">FrontRight</button>          
		</div>
		 <div id="header">           
			<button id="btnleft" onmousedown="btnleftdown()" onmouseup="btnleftup()"><span>Left</span></button>          
			<button id="btnshutdown" onmousedown="btnshutdowndown()" onmouseup="btnshutdownup()">ShutDown</button>
			<button id="btnright" onmousedown="btnrightdown()" onmouseup="btnrightup()">Right</button>       
		</div>
		 <div id="header">           
			<button id="btnbackleft" onmousedown="btnbackleftdown()" onmouseup="btnbackleftup()"><span>BackLeft</span></button>          
			<button id="btnback" onmousedown="btnbackdown()" onmouseup="btnbackup()">Back</button>
			<button id="btnbackright" onmousedown="btnbackrightdown()" onmouseup="btnbackrightup()">BackRight</button>         
		</div>
		  <Script>
			  
			var x = document.getElementById("X");
			var y = document.getElementById("Y");
			var cmd = document.getElementById("CMD");

			$(document).ready(function(){
				//connect to the socket server.
				x.value = 0;
				y.value = 0;
				cmd.value = 0;
				var socket = io.connect('http://' + document.domain + ':' + location.port + '/test', {
										'sync disconnect on unload': true,
										'timeout':10,
										'ping_interval':1 });
				socket.on('connect', function(){
					console.log("finalmente conectou!")
				});
				var numbers_received = [];

				
				setInterval(function(){ 
					
					var logging = y.value;
					console.log(logging);
					if(y.value)
					{
						if(x.value)
						{
							if(cmd.value)
							{
								socket.emit('message',{'x':x.value,'y':y.value,'cmd':cmd.value});
							}
						}
					}
					
				},150);
			});
			function btnbat(){
					var xmlHttp = new XMLHttpRequest();
					var location = document.location.href;
					console.log(location);
					xmlHttp.open( "GET", location + "showbat", false ); // false for synchronous request
					xmlHttp.send( null );
					return xmlHttp.responseText;
			}

			function btnturnoff(){
					var xmlHttp = new XMLHttpRequest();
					var location = document.location.href;
					console.log(location);
					xmlHttp.open( "GET", location + "showbat_turnoff", false ); // false for synchronous request
					xmlHttp.send( null );
					return xmlHttp.responseText;
			}
			function btnfrontleftdown(){
				cmd.value = 6;
				x.value = 12;
				y.value = -6;
			}
			function btnfrontleftup(){
				cmd.value = 0;
				x.value = 0;
				y.value = 0;
			}
			function btnfrontdown(){
				cmd.value = 1;
				x.value = 12;
				y.value = 0;
			}
			function btnfrontup(){
				cmd.value = 0;
				x.value = 0;
				y.value = 0;
			}
			function btnfrontrightdown(){
				cmd.value = 21;
				x.value = -6;
				y.value = 12;
			}
			function btnfrontrightup(){
				cmd.value = 0;
				x.value = 0;
				y.value = 0;
			}
			function btnleftdown(){
				cmd.value = 16
				x.value = 12;
				y.value = -12;
			}
			function btnleftup(){
				cmd.value = 0;
				x.value = 0;
				y.value = 0;
			}
			function btnshutdowndown(){
				cmd.value = 0;
				x.value = 0;
				y.value = 0;
			}
			function btnshutdownup(){
				cmd.value = 0;
				x.value = 0;
				y.value = 0;
			}
			function btnrightdown(){
				cmd.value = 21;
				x.value = -12;
				y.value = 12;
			}
			function btnrightup(){
				cmd.value = 0;
				x.value = 0;
				y.value = 0;
			}
			function btnbackleftdown(){
				cmd.value = 11;
				x.value = -12;
				y.value = 6;
			}
			function btnbackleftup(){
				cmd.value = 0;
				x.value = 0;
				y.value = 0;
			}
			function btnbackdown(){
				cmd.value = 36;
				x.value = -12;
				y.value = 0;
			}
			function btnbackup(){
				cmd.value = 0;
				x.value = 0;
				y.value = 0;
			}
			function btnbackrightdown(){
				cmd.value = 26;
				x.value = 6;
				y.value = -12;
			}
			function btnbackrightup(){
				cmd.value = 0;
				x.value = 0;
				y.value = 0;
			}
		</script>
   </body>
</html>
